<!-- Header -->
<header class="container-fluid header">
        <div class="row h-100">
            <div class="col-auto align-self-center">
                <a routerLink="/shophome" class="btn btn-link back-btn text-color-theme">
                    <i class="bi bi-arrow-left size-20"></i>
                </a>
            </div>
            <div class="col text-center align-self-center">
                <h5 class="mb-0">Notifications</h5>
            </div>
            <div class="col-auto align-self-center">
                <a routerLink="/shophome" class="link text-color-theme">
                    <i class="bi bi-shop size-22"></i>
                </a>
            </div>
        </div>
    </header>
    <!-- Header ends -->

    <!-- main page content -->
    <div class="main-container container top-20">
        <!-- Chat list   -->
        <div class="row">
            <div class="col-12 px-0">
                <div class="list-group list-group-flush bg-none rounded-0">
                    <a class="list-group-item">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-40 coverimg rounded-circle" style="background-image: url(&quot;assets/img/user1.jpg&quot;);">
                                    <img src="assets/img/user1.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <p class="lh-small mb-0"><b>Ankit Trivedi</b>, <b>John MAcMillan</b> and <b>36 others</b>
                                    are also order from same restaurant </p>
                                <p class="small text-opac">2 Days ago</p>
                            </div>
                        </div>
                    </a>
                    <div class="list-group-item text-center py-2 text-opac">This month</div>
                    <a class="list-group-item">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-40 coverimg rounded-circle" style="background-image: url(&quot;assets/img/user3.jpg&quot;);">
                                    <img src="assets/img/user3.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <p class="lh-small mb-0"><b>Williums</b> Will deliver your order</p>
                                <p class="small text-opac">last week</p>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-40 coverimg rounded-circle " style="background-image: url(&quot;assets/img/user1.jpg&quot;);">
                                    <img src="assets/img/user1.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <p class="lh-small mb-0"><b>johnson</b> will deliver your order</p>
                                <p class="small text-opac">2 Week ago</p>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-40 coverimg rounded-circle" style="background-image: url(&quot;assets/img/user2.jpg&quot;);">
                                    <img src="assets/img/user2.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <p class="lh-small mb-0"><b>Maxartkillers</b> will deliver your order</p>
                                <p class="small text-opac">2 Week ago</p>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-40 coverimg rounded-circle" style="background-image: url(&quot;assets/img/user3.jpg&quot;);">
                                    <img src="assets/img/user3.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <p class="lh-small mb-0"><b>Silvasaa </b> is now available to take your order. tap to
                                    continue order in your cart.</p>
                                <p class="small text-opac">3 Week ago</p>
                            </div>
                        </div>
                    </a>
                    <div class="list-group-item text-center py-2 text-opac">Earlier</div>
                    <a class="list-group-item">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-40 coverimg rounded-circle" style="background-image: url(&quot;assets/img/user2.jpg&quot;);">
                                    <img src="assets/img/user2.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <p class="lh-small mb-0"><b>Alic Boddy</b> will deliver your order</p>
                                <p class="small text-opac">1 month ago</p>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-40 coverimg rounded-circle" style="background-image: url(&quot;assets/img/user3.jpg&quot;);">
                                    <img src="assets/img/user3.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <p class="lh-small mb-0"><b>John</b> will deliver your order</p>
                                <p class="small text-opac">2 month ago</p>
                            </div>
                        </div>
                    </a>
                    <div class="list-group-item text-center py-2 text-opac">This month</div>
                    <a class="list-group-item">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-40 coverimg rounded-circle" style="background-image: url(&quot;assets/img/user3.jpg&quot;);">
                                    <img src="assets/img/user3.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <p class="lh-small mb-0"><b>Williums</b> Will deliver your order</p>
                                <p class="small text-opac">last week</p>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-40 coverimg rounded-circle " style="background-image: url(&quot;assets/img/user1.jpg&quot;);">
                                    <img src="assets/img/user1.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <p class="lh-small mb-0"><b>johnson</b> will deliver your order</p>
                                <p class="small text-opac">2 Week ago</p>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-40 coverimg rounded-circle" style="background-image: url(&quot;assets/img/user2.jpg&quot;);">
                                    <img src="assets/img/user2.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <p class="lh-small mb-0"><b>Maxartkillers</b> will deliver your order</p>
                                <p class="small text-opac">2 Week ago</p>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-40 coverimg rounded-circle" style="background-image: url(&quot;assets/img/user3.jpg&quot;);">
                                    <img src="assets/img/user3.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <p class="lh-small mb-0"><b>Silvasaa </b> is now available to take your order. tap to
                                    continue order in your cart.</p>
                                <p class="small text-opac">3 Week ago</p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>

    </div>
    <!-- main page content ends -->