<!-- Header -->
<header class="container-fluid header">
    <div class="row h-100">
        <div class="col-auto align-self-center">
            <a href="/chat" class="btn btn-link back-btn text-color-theme">
                <i class="bi bi-arrow-left size-20"></i>
            </a>
        </div>
        <div class="col align-self-center ps-0">
            <div class="row">
                <div class="col-auto">
                    <div class="avatar avatar-40 coverimg rounded-circle" style="background-image: url('assets/img/user1.jpg')">
                        <img src="assets/img/user1.jpg" alt="">
                    </div>
                </div>
                <div class="col align-self-center ps-0">
                    <p class="mb-0 lh-small">John Domnic</p>
                    <span class="text-opac small">Online</span>
                </div>
            </div>
        </div>
        <div class="col-auto align-self-center">
            <a href="/shophome" class="link text-color-theme">
                <i class="bi bi-shop size-22"></i>
            </a>
        </div>
    </div>
</header>
<!-- Header ends -->

<!-- main page content -->
<div class="main-container container">
    <!-- chat user list -->
    <div class="container chat-list scroll-y">
        <div class="row no-margin left-chat">
            <div class="col-12">
                <div class="chat-block">
                    <div class="row">
                        <div class="col">
                            Hi!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="text-muted small time"><i class="bi bi-check"></i> 9:00 pm</p>
            </div>
        </div>
        <div class="row no-margin right-chat">
            <div class="col-12">
                <div class="chat-block">
                    <div class="row">
                        <div class="col">
                            Hi!<br>Yes please tell us your query.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-end">
                <p class="text-muted small time"><i class="bi bi-check"></i> 9:10 pm</p>
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-12 text-center">
                <span class="page-bg mx-auto btn btn-sm py-1 rounded mb-3">26 November 2021</span>
            </div>
        </div>
        <div class="row no-margin left-chat">
            <div class="col-12">
                <div class="chat-block">
                    <div class="row">
                        <div class="col">
                            How are you? Mobileux we were wait since long to be here.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="text-muted small time"><i class="bi bi-check-all text-primary"></i> 8:00 pm</p>
            </div>
        </div>
        <div class="row no-margin right-chat">
            <div class="col-12">
                <div class="chat-block">
                    <div class="row">
                        <div class="col">
                            <div class="mw-100 position-relative mb-2 figure">
                                <div class="position-absolute end-0 top-0">
                                    <button class="avatar avatar-36 rounded-circle p-0 btn btn-info text-white shadow-sm m-2">
                                        <i class="bi bi-download"></i>
                                    </button>
                                </div>
                                <img src="assets/img/news1.jpg" alt="" class="mw-100">
                            </div>
                            How are you? Mobileux we were waited since long to be here.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-end">
                <p class="text-muted small time"><i class="bi bi-check-all text-primary"></i> 8:00 pm</p>
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-12  text-center">
                <span class="page-bg mx-auto btn btn-sm py-1 rounded mb-3">25 November 2019</span>
            </div>
        </div>
        <div class="row no-margin left-chat">
            <div class="col-12">
                <div class="chat-block">
                    <div class="row">
                        <div class="col">
                            <div class="mw-100 position-relative mb-2 figure">
                                <video src="https://maxartkiller.com/website/maxartkiller.mp4" controls></video>
                            </div>
                            How are you? Mobileux we were waited since long to be here.
                        </div>

                    </div>
                </div>
                <div class="col-12">
                    <p class="text-muted small time"><i class="bi bi-check-all text-primary"></i> 8:00 pm</p>
                </div>
            </div>
        </div>
        <div class="row no-margin right-chat">
            <div class="col-12">
                <div class="chat-block">
                    <div class="row">
                        <div class="col">
                            <p>Mobileux is HTML template can be used in various business domains like
                                Manufacturing, inventory, IT, administration etc. for mobile application for
                                news and broadcasting </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-end">
                <p class="text-muted small time"><i class="bi bi-check-all text-primary"></i> 8:00 pm</p>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<!-- chat post message -->
<div class="position-fixed bottom-0 start-0 chat-post">
    <div class="row gx-3">
        <div class="col-auto">
            <button class="btn btn-outline-theme rounded avatar-40 avatar p-0" type="button" data-bs-toggle="modal"
                data-bs-target="#attachefiles">
                <i class="bi bi-plus"></i>
            </button>
        </div>
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Write your message">
                <button class="btn btn-outline-primary" type="button"><i class="bi bi-cursor"></i></button>
            </div>
        </div>
    </div>
</div>
<!-- chat post message ends-->

<!-- modal attachement -->
<div class="modal fade " id="attachefiles" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-ends ">
        <div class="modal-content shadow border-0">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <div class="row justify-content-center align-items-center mb-3 gx-3">
                            <div class="col-auto">
                                <button class="btn btn-outline-theme avatar-50 avatar p-0 rounded-circle"
                                    data-bs-dismiss="modal"><i class="bi bi-file-earmark-image fs-5"></i></button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-outline-theme avatar-50 avatar p-0 rounded-circle"
                                    data-bs-dismiss="modal"><i class="bi bi-file-earmark-richtext fs-5"></i></button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-outline-theme avatar-50 avatar p-0 rounded-circle"
                                    data-bs-dismiss="modal"><i class="bi bi-file-earmark-zip fs-5"></i></button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-outline-theme avatar-50 avatar p-0 rounded-circle"
                                    data-bs-dismiss="modal"><i class="bi bi-file-earmark-music fs-5"></i></button>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center gx-3">
                            <div class="col-auto">
                                <button class="btn btn-outline-theme avatar-50 avatar p-0 rounded-circle"
                                    data-bs-dismiss="modal"><i class="bi bi-file-earmark-pdf fs-5"></i></button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-outline-theme avatar-50 avatar p-0 rounded-circle"
                                    data-bs-dismiss="modal"><i class="bi bi-file-earmark-person fs-5"></i></button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-outline-theme avatar-50 avatar p-0 rounded-circle"
                                    data-bs-dismiss="modal"><i class="bi bi-camera fs-5"></i></button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-outline-theme avatar-50 avatar p-0 rounded-circle"
                                    data-bs-dismiss="modal"><i class="bi bi-camera-video fs-5"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal attachement ends -->