.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: rgba($footer-bg-color, 0.75);
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  -webkt-box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  @extend .transition-05;
  @extend .blur;

  .nav {
    align-items: center;
    max-width: 480px;
    margin: 0 auto;

    .nav-item {
      height: 66px;

      .nav-link {
        text-align: center;
        background: transparent;
        align-self: center;
        -webkit-align-self: center;
        -moz-align-self: center;
        height: 100%;
        line-height: 44px;
        position: relative;

        span {
          line-height: 20px;
          display: inline-block;
          vertical-align: middle;

          .nav-icon {
            font-size: 16px;
            height: 24px;
            line-height: 24px;
            width: 24px;
            display: inline-block;
            margin: 0 auto;
            color: $text-color-theme-secondary;
          }
          .nav-text {
            font-size: 10px;
            line-height: 18px;
            vertical-align: middle;
            display: none;
          }
        }
        &:after {
          content: "";
          position: absolute;
          width: 90%;
          left: 5%;
          bottom: 4px;
          height: 4px;
          border-radius: 3px;
          display: block;
          margin: 0 auto;
          background: $bg-color-theme;
          display: none;
        }
        &.active {
          color: $bg-color-theme;
          span {
            .nav-icon {
              color: $bg-color-theme;
            }
          }
          &:after {
            display: block;
          }
        }
      }

      &.center-item {
        .nav-link {
          & > span {
            height: 60px;
            width: 60px;
            line-height: 60px;
            border-radius: 30px;
            padding: 0;
            display: inline-block;
            margin: -30px auto 0 auto;
            text-align: center;
            color: $text-color-theme;
            background: $bg-color-theme;
            background: -moz-linear-gradient(
              top,
              $color-gradient-1 0%,
              $color-gradient-2 50%,
              $color-gradient-3 100%
            );
            background: -webkit-linear-gradient(
              top,
              $color-gradient-1 0%,
              $color-gradient-2 50%,
              $color-gradient-3 100%
            );
            background: linear-gradient(
              to bottom,
              $color-gradient-1 0%,
              $color-gradient-2 50%,
              $color-gradient-3 100%
            );
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
            -webkt-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
            vertical-align: middle;
            position: relative;
            .nav-icon {
              font-size: 24px;
              margin-top: -3px;
              color: $text-color-theme;
            }
            .countercart {
              height: 20px;
              width: 20px;
              line-height: 20px;
              border-radius: 15px;
              background-color: $red;
              color: $text-color-theme;
              position: absolute;
              bottom: -10px;
              left: 0;
              right: 0;
              margin: 0 auto;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
.menu-open {
  .footer {
    margin-bottom: -80px;
  }
}
main {
  &.has-footer {
    padding-bottom: 86px;
  }
}
