$page-bg-path1: url("../img/bgshapes-green-1.png");
$page-bg-path2: url("../img/bgshapes-green-2.png");
$color-gradient-1: #cddc39;
$color-gradient-2: #4caf50;
$color-gradient-3: #00796d;

$bg-color-theme: #4caf50;
$text-color-theme: #FFFFFF;
$text-color-theme-primary: #000000;
$text-color-theme-secondary: #999999;

$button-default-bg-color: #52E5A5;
$button-default-text-color: #ffffff;

$card-color: #ffffff;
$header-color: #ffffff;
$page-bg-color: #ebf7f1;
$footer-bg-color: #ffffff;


$blue:    #7297f8 !default;
$indigo:  #6610f2 !default;
$purple:  #7521F3 !default;
$pink:    #d63384 !default;
$red:     #fb737c !default;
$orange:  #fd7e14 !default;
$yellow:  #FFC400 !default;
$green:   #52E5A5 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;