.rtl {
  direction: rtl;

  .tooltip-btn {
    left: 5px;
    right: auto;
  }
  .nav {
    padding-right: 0;
  }
  .dropdown-menu {
    text-align: right;
  }
  .toast-header .btn-close {
    margin-left: -0.375rem;
    margin-right: 0.75rem;
  }
  .float-end {
    float: left !important;
  }
  .text-end {
    text-align: left !important;
  }
  .form-floating > label {
    left: auto;
    right: 0;
  }
  ul{
      padding-right: 0;
  }
  .ps-0{
      padding-left: 15px;
      padding-right: 0;
  }
  .sidebar-wrap {
    left: auto;
    right: -100%;

    .closemenu {
      right: auto;
      left: -25px;
    }

    .sidebar {
      float: right;
      left: auto;
      right: -300px;

      .nav {
        .nav-item {
          .nav-link > .icon {
            margin-left: 15px;
            margin-right: 0;
          }
        }
      }
    }

    &.sidebar-overlay {
      .sidebar {
        float:right;
        left: auto;
        right: -300px;
      }
    }

    &.sidebar-fullmenu {
      .closemenu {
        left: auto;
        right: 0;
      }
      .sidebar {
        padding: 50px 15% 0 5%;

        .nav {
          .nav-item {
            margin-right: 0;
            margin-left: 13%;

            .nav-link > .icon {
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
    }
  }

  &.menu-open {
    .sidebar-wrap {
      right: 0;

      &.sidebar-overlay {
        .sidebar {
          right: 0;
        }
      }

      &.sidebar-fullmenu {
        .sidebar {
          right: 0;
        }
      }

      &.sidebar-pushcontent {
        .sidebar {
          right: 0;
        }
        & + main {
          margin-left: auto;
          transform: scale(1);
          margin-right: 280px;
        }
      }
    }
  }
}
