<!-- Header -->
<header class="container-fluid header">
        <div class="row h-100">
            <div class="col-auto align-self-center">
                <a routerLink="/shophome" class="btn btn-link back-btn text-color-theme">
                    <i class="bi bi-arrow-left size-20"></i>
                </a>
            </div>
            <div class="col text-center align-self-center">
                <h5 class="mb-0">All Pages</h5>
            </div>
            <div class="col-auto align-self-center">
                <a routerLink="/shophome" class="link text-color-theme">
                    <i class="bi bi-shop size-22"></i>
                </a>
            </div>
        </div>
    </header>
    <!-- Header ends -->

    <!-- main page content -->
    <div class="main-container container">
        <!-- list pages -->
        <div class="card shadow-sm mb-4">
            <div class="card-body text-center ">
                <p class="text-opac">All the customized list of pages displayed and more creative things you will
                    find inside each page.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a routerLink="/aboutus" class="text-normal d-block">About us <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/blog" class="text-normal d-block">Blogs <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/blogdetails" class="text-normal d-block">Blog Detail <i
                            class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/messages" class="text-normal d-block">Chat Message <i
                            class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/chat" class="text-normal d-block">Chat user list <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/stats" class="text-normal d-block">Stats <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/" class="text-normal d-block">Landing <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/notifications" class="text-normal d-block">Notifications
                        <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/style" class="text-normal d-block">Style <i class="float-end bi bi-arrow-right"></i></a></li>                    
                <li class="list-group-item"><a routerLink="/*" class="text-normal d-block">404 Error <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/faqs" class="text-normal d-block">FAQs <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/userlist" class="text-normal d-block">User List <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/contactus" class="text-normal d-block">Contact us <i
                            class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/termsandconditions" class="text-normal d-block">Terms &
                        Conditions <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item  fw-bold">User Accounts</li>
                <li class="list-group-item"><a routerLink="/signin" class="text-normal d-block">Sign in <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/signup" class="text-normal d-block">Sign up <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/forgetpassword" class="text-normal d-block">Forgot
                        Passwod<i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/resetpassword" class="text-normal d-block">Reset
                        Password<i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/verify" class="text-normal d-block">Verify <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/thankyou" class="text-normal d-block">Thank you <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/thankyouone" class="text-normal d-block">Thank you 2<i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/profile" class="text-normal d-block">Profile <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/settings" class="text-normal d-block">Settings <i class="float-end bi bi-arrow-right"></i></a></li>

                <li class="list-group-item  fw-bold">Shoppings Ecommerce</li>
                <li class="list-group-item"><a routerLink="/shophome" class="text-normal d-block">Shop <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/product" class="text-normal d-block">Product <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/myorders" class="text-normal d-block">My Orders <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/cart" class="text-normal d-block">Cart <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/address" class="text-normal d-block">Address <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/addaddresses" class="text-normal d-block">Add Address <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/payment" class="text-normal d-block">Payment <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/invoice" class="text-normal d-block">Invoice <i class="float-end bi bi-arrow-right"></i></a></li>
                <li class="list-group-item"><a routerLink="/orderdetail" class="text-normal d-block">Track Order<i
                            class="float-end bi bi-arrow-right"></i></a></li>

            </ul>
        </div>
    </div>
    <!-- main page content ends -->