<!-- Header -->
<header class="container-fluid header">
    <div class="row h-100">
        <div class="col-auto align-self-center">
            <a routerLink="/pages" class="btn btn-link back-btn text-color-theme">
                <i class="bi bi-arrow-left size-20"></i>
            </a>
        </div>
        <div class="col text-center align-self-center">
            <h5 class="mb-0">Blogs</h5>
        </div>
        <div class="col-auto align-self-center">
            <a routerLink="/profile" class="link text-color-theme">
                <i class="bi bi-person-circle size-22"></i>
            </a>
        </div>
    </div>
</header>
<!-- Header ends -->

<!-- main page content -->
<div class="main-container container">
    <!-- Blogs news pages -->
    <div class="row mb-3">
        <div class="col">
            <h5 class="mb-0">Today </h5>
            <p class="text-opac">26/12/2021</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card card-theme mb-4 overflow-hidden shadow-sm">
                <div class="overlay"></div>
                <div class="coverimg h-100 w-100 position-absolute opacity-3"  style="background-image: url('assets/img/news1.jpg')">
                    <img src="assets/img/news1.jpg" alt="">
                </div>
                <div class="card-body">
                    <div class="row mb-5">
                        <div class="col">
                            <span class="tag">Trending</span>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-theme avatar avatar-40 p-0 rounded-circle shadow-sm me-2"><i class="bi bi-share"></i></button>
                            <button class="btn btn-success text-white avatar avatar-40 p-0 rounded-circle shadow-sm"><i
                                    class="bi bi-bookmark"></i></button>
                        </div>
                    </div>
                    <br>
                    <a routerLink="/blogdetails" class="h4 text-normal d-block text-white">Best Discovery ever in UX</a>
                    <p class="text-opac">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Sndisse
                        conv allis.</p>
                    <div class="">
                        <figure class="avatar avatar-30 rounded mx-1">
                            <img src="assets/img/user2.jpg" alt="">
                        </figure>
                        Alessia Monks
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card card-theme mb-4 overflow-hidden shadow-sm text-white">
                <div class="overlay"></div>
                <div class="coverimg h-100 w-100 position-absolute opacity-3"  style="background-image: url('assets/img/news2.jpg')">
                    <img src="assets/img/news2.jpg" alt="">
                </div>
                <div class="card-body">
                    <div class="row mb-5">
                        <div class="col">
                            <span class="tag">Trending</span>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-theme avatar avatar-40 p-0 rounded-circle shadow-sm me-2"><i class="bi bi-share"></i></button>
                            <button class="btn btn-success text-white avatar avatar-40 p-0 rounded-circle shadow-sm"><i
                                    class="bi bi-bookmark"></i></button>
                        </div>
                    </div>
                    <br>
                    <a routerLink="/blogdetails" class="h4 text-normal d-block text-white ">Best Discovery ever in UX</a>
                    <p class="text-opac">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Sndisse
                        conv allis.</p>
                    <div class="">
                        <figure class="avatar avatar-30 rounded mx-1">
                            <img src="assets/img/user3.jpg" alt="">
                        </figure>
                        Jason Mandla
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <div class="row">
                <div class="col-5">
                    <figure class="rounded position-relative h-190 overflow-hidden shadow-sm">
                        <div class="coverimg h-100 w-100 position-absolute start-0 top-0"  style="background-image: url('assets/img/news1.jpg')">
                            <img src="assets/img/news1.jpg" alt="">
                        </div>
                    </figure>
                </div>
                <div class="col align-self-center">
                    <a routerLink="/blogdetails" class="h5 d-block text-normal text-color-theme">Maxartkiller has awesome
                        templae
                        to start</a>
                    <p class="text-opac">Lorem ipsum dolor sit amet, consect etur adipiscing elit.
                        Sndisse conv allis.</p>
                    <a routerLink="/blogdetails" class="text-normal">Read More <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="row">
                <div class="col-5">
                    <figure class="rounded position-relative h-190 overflow-hidden shadow-sm" >
                        <div class="coverimg h-100 w-100 position-absolute start-0 top-0"  style="background-image: url('assets/img/news2.jpg')">
                            <img src="assets/img/news2.jpg" alt="">
                        </div>
                    </figure>
                </div>
                <div class="col align-self-center">
                    <a routerLink="/blogdetails" class="h5 d-block text-normal text-color-theme">For the people by people
                        Best
                        Mobile template is here</a>
                    <p class="text-opac">Lorem ipsum dolor sit amet, consect etur adipiscing elit.
                        Sndisse conv allis.</p>
                    <a routerLink="/blogdetails" class="text-normal">Read More <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="row">
                <div class="col-5">
                    <figure class="rounded position-relative h-190 overflow-hidden shadow-sm">
                        <div class="coverimg h-100 w-100 position-absolute start-0 top-0"  style="background-image: url('assets/img/news3.jpg')">
                            <img src="assets/img/news3.jpg" alt="">
                        </div>
                    </figure>
                </div>
                <div class="col align-self-center">
                    <a routerLink="/blogdetails" class="h5 d-block text-normal text-color-theme">Maxartkiller has awesome
                        templae
                        to start</a>
                    <p class="text-opac">Lorem ipsum dolor sit amet, consect etur adipiscing elit.
                        Sndisse conv allis.</p>
                    <a routerLink="/blogdetails" class="text-normal">Read More <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="row">
                <div class="col-5">
                    <figure class="rounded position-relative h-190 overflow-hidden shadow-sm">
                        <div class="coverimg h-100 w-100 position-absolute start-0 top-0"  style="background-image: url('assets/img/news1.jpg')">
                            <img src="assets/img/news1.jpg" alt="">
                        </div>
                    </figure>
                </div>
                <div class="col align-self-center">
                    <a routerLink="/blogdetails" class="h5 d-block text-normal text-color-theme">For the people by people
                        Best
                        Mobile template is here</a>
                    <p class="text-opac">Lorem ipsum dolor sit amet, consect etur adipiscing elit.
                        Sndisse conv allis.</p>
                    <a routerLink="/blogdetails" class="text-normal">Read More <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main page content ends -->