<!-- Sidebar main menu -->
<app-sidebar  class="sidebar-wrap  sidebar-overlay"></app-sidebar>
<!-- Add pushcontent or fullmenu instead overlay , keep 'sidebar-[choice here]' -->
<!-- Sidebar main menu ends-->

<!-- Begin page -->
<main class="has-header has-footer" >

    <!-- Header -->
    <app-headermenu class="container-fluid header"></app-headermenu>
    <!-- Header ends -->

    <!-- main page content -->
    <router-outlet></router-outlet>
    <!-- main page content ends -->

</main>
<!-- Page ends-->

 <!-- Footer -->
<app-staticfooter class="footer"></app-staticfooter>
 <!-- Footer Ends -->