<!-- Header -->
<header class="container-fluid header">
    <div class="row h-100">
        <div class="col-auto align-self-center">
            <a href="/pages" class="btn btn-link back-btn text-color-theme">
                <i class="bi bi-arrow-left size-20"></i>
            </a>
        </div>
        <div class="col text-center align-self-center">
            <h5 class="mb-0">FAQs</h5>
        </div>
        <div class="col-auto align-self-center">
            <a href="/profile" class="link text-color-theme">
                <i class="bi bi-person-circle size-22"></i>
            </a>
        </div>
    </div>
</header>
<!-- Header ends -->

<!-- main page content -->
<div class="main-container container">
    <!-- Banner FAQs -->
    <div class="row mb-4 position-relative">

        <div class="col-12 col-md-6 col-lg-4 mx-auto align-self-center">
            <h4 class="text-center mb-2">Frequently Asked Questions</h4>
            <p class="text-center text-opac">Search your query or go trough your desired choice category
                and questions.</p>
            <div class="form-floating">
                <input type="text" class="form-control is-valid" id="search" placeholder="Search">
                <label for="search">Search</label>
                <button type="button" class="btn btn-link tooltip-btn d-block text-color-theme">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Question list -->
    <div class="row mb-3">
        <div class="col">
            <h5 class="mb-0">Find the right answer</h5>
        </div>
    </div>
    <div class="accordion accordion-flush rounded shadow-sm mb-4" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                    aria-expanded="true" aria-controls="flush-collapseOne">
                    How GoMobileUX is flexible template?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body text-opac">GoMobileUX provides wide rang of different componentsor
                    module based UI interface which are syc or consistance with the whole template.
                    Thats the man reason MoobileUx is flexible to create pages and development. </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                    aria-expanded="false" aria-controls="flush-collapseTwo">
                    About GoMobileUX third party usage?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body text-opac">GoMobileUX provides wide rang of different componentsor
                    module based UI interface which are syc or consistance with the whole template.
                    Thats the man reason MoobileUx is flexible to create pages and development. </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                    aria-expanded="false" aria-controls="flush-collapseThree">
                    Best in class for a reason
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body text-opac">GoMobileUX provides wide rang of different componentsor
                    module based UI interface which are syc or consistance with the whole template.
                    Thats the man reason MoobileUx is flexible to create pages and development. </div>
            </div>
        </div>
    </div>

    <!-- categories tags -->
    <div class="row mb-3">
        <div class="col">
            <h5 class="mb-0">Are you looking for </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <div class="badge-new me-2 mb-3 shadow-sm">Delivery</div>
            <div class="badge-new active me-2 mb-3 shadow-sm">Payment</div>
            <div class="badge-new me-2 mb-3 shadow-sm">Selection</div>
            <div class="badge-new me-2 mb-3 shadow-sm">Feedback</div>
            <div class="badge-new me-2 mb-3 shadow-sm">Offers</div>
            <div class="badge-new me-2 mb-3 shadow-sm">Email</div>
        </div>
    </div>
</div>
<!-- main page content ends -->