<div class="overlay-image text-end">
    <img src="assets/img/orange-slice.png" class="orange-slice" alt="">
</div>

<div class="row h-100">
    <div class="col-12 text-center">
        <div class="logo-small">
            <img src="assets/img/logo.png" alt="" class="img">
            <h6>GO<br><small>MobileUX</small></h6>
        </div>
    </div>
    <div class="col-12 mx-auto text-center">
        <div class="row h-100">
            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xl-3 mx-auto align-self-center">
                <h2 class="text-center mb-4">Sign in</h2>
                <div class="card card-light shadow-sm mb-4">
                    <div class="card-body">
                        <form class=" was-validated">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control is-valid" id="emailaddress" placeholder="name@example.com"
                                    value="emailaddress@example.com">
                                <label for="emailaddress">Username/Email</label>
                                <button type="button" class="btn btn-link text-success tooltip-btn valid-tooltip"
                                    data-bs-toggle="tooltip" data-bs-placement="left" title="Email is valid">
                                    <i class="bi bi-check-circle"></i>
                                </button>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control is-invalid" id="password"
                                    placeholder="Your Password" value="emailaddress">
                                <label for="password">Password</label>
                                <button type="button"  class="btn btn-link text-danger tooltip-btn invalid-tooltip"
                                    data-bs-toggle="tooltip" data-bs-placement="left" title="Enter valid password">
                                    <i class="bi bi-exclamation-circle"></i>
                                </button>
                            </div>
                        </form>

                        <div class="d-grid"><a routerLink="/forgetpassword" class="link mb-3">Forgot
                                Password?</a></div>

                        <div class="d-grid"><a routerLink="/shophome" class="btn btn-lg btn-default shadow-sm">Sign
                                in</a></div>
                    </div>
                </div>
                <p class="text-center">OR<br>Continue with</p>
                <p class="text-center">
                    <a routerLink="" class="btn btn-link"><i class="bi bi-facebook"></i></a>
                    <a routerLink="" class="btn btn-link"><i class="bi bi-twitter"></i></a>
                    <a routerLink="" class="btn btn-link"><i class="bi bi-google"></i></a>
                </p>

            </div>
        </div>

    </div>
    <div class="col-12 text-center align-self-end py-2">
        <div class="row">
            <div class="col text-center">
                Don't have account? <a routerLink="/signup" class="btn btn-link px-0 ms-2">Sign up <i class="bi bi-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>