<div class="main-container container">

    <!-- profile picture -->
    <div class="row  mb-4">
        <div class="col-auto">
            <figure class="avatar avatar-100 rounded mx-auto">
                <img src="assets/img/user2.jpg" alt="">
            </figure>
        </div>
        <div class="col align-self-center">
            <h5 class="">Shelvy Smith</h5>
            <p class="text-opac">B 32, maker street 4, Beside Train Tower, Algobbaalsa,<br>California- 25468
                (US)</p>
        </div>
    </div>

    <!-- Email Notifications settings -->
    <div class="row mb-3">
        <div class="col">
            <h5 class="mb-0">Notification Receive</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-light shadow-sm mb-4">
                <ul class="list-group list-group-flush bg-none">
                    <li class="list-group-item py-3">
                        <div class="row">
                            <div class="col-auto pr-0 align-self-center text-end">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="settingscheck1" checked>
                                    <label class="form-check-label" for="settingscheck1"></label>
                                </div>
                            </div>
                            <div class="col ps-0">
                                <h6 class="mb-1">Email Notification</h6>
                                <p class="text-opac small d-block">Default all notification will be
                                    sent</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item py-3">
                        <div class="row">
                            <div class="col-auto pr-0 align-self-center text-end">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="settingscheck2" checked>
                                    <label class="form-check-label" for="settingscheck2"></label>
                                </div>
                            </div>
                            <div class="col ps-0">
                                <h6 class="mb-1">SMS Notification</h6>
                                <p class="text-opac small d-block">Receive SMS notification</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item py-3">
                        <div class="row">
                            <div class="col-auto pr-0 align-self-center text-end">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="settingscheck3">
                                    <label class="form-check-label" for="settingscheck3"></label>
                                </div>
                            </div>
                            <div class="col ps-0">
                                <h6 class="mb-1">Profile Avaialability</h6>
                                <p class="text-opac small d-block">Everyone can see my profile in
                                    search</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item py-3">
                        <div class="row">
                            <div class="col-auto pr-0 align-self-center text-end">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="settingscheck4">
                                    <label class="form-check-label" for="settingscheck4"></label>
                                </div>
                            </div>
                            <div class="col ps-0">
                                <h6 class="mb-1">Sent Request</h6>
                                <p class="text-opac small d-block">Everyone can sent me a request</p>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <!-- profile information -->
    <div class="row mb-3">
        <div class="col">
            <h5 class="mb-0">Basic Information</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-light shadow-sm mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-floating mb-3">
                                <select class="form-control" id="country">
                                    <option selected>United States (+1)</option>
                                    <option>United Kingdoms (+44)</option>
                                </select>
                                <label for="country">Contry</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group form-floating  mb-3">
                                <input type="text" class="form-control" value="Ajinkya " placeholder="Name" id="names">
                                <label for="names">Name</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group form-floating   mb-3">
                                <input type="text" class="form-control" value="McMohan" placeholder="Surname" id="surnames">
                                <label for="surnames">Surname</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group form-floating  mb-3">
                                <input type="text" class="form-control" value="info@maxartkiller.com" placeholder="Email or Phone"
                                    id="emailphone">
                                <label for="emailphone">Email or Phone</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group form-floating ">
                                <input type="file" class="form-control" id="fileupload">
                                <label for="fileupload">Uplaod File</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- add edit address form -->
    <div class="row mb-3">
        <div class="col">
            <h5 class="mb-0">Address Change</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-light shadow-sm mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="form-group form-floating">
                                <input type="text" class="form-control" value="Maxartkiller" id="address1" placeholder="Your Name">
                                <label class="form-control-label" for="address1">Your Name</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="form-group form-floating">
                                <input type="text" class="form-control" value="265B, Arohhi Appartment" id="address2"
                                    placeholder="Address Line 1">
                                <label class="form-control-label" for="address2">Address Line 1</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="form-group form-floating">
                                <input type="text" class="form-control" value="Bhuvandi Baug" id="address3" placeholder="Address Line 2">
                                <label class="form-control-label" for="address3">Address Line 2</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="form-group form-floating">
                                <input type="text" list="datalistOptions" class="form-control" value="" id="address4"
                                    placeholder="Select Country">
                                <datalist id="datalistOptions">
                                    <option value="United Kingdom">
                                    <option value="United States" selected>
                                    <option value="Australia">
                                    <option value="India">
                                    <option value="Russia">
                                </datalist>
                                <label class="form-control-label" for="address4">Country</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="form-group form-floating">
                                <input type="text" list="datalistStates" class="form-control" value="" id="address5"
                                    placeholder="Select State">
                                <datalist id="datalistStates">
                                    <option value="California">
                                    <option value="Texas" selected>
                                    <option value="Florida">
                                    <option value="Georgia">
                                    <option value="Virginia">
                                </datalist>
                                <label class="form-control-label" for="address5">State</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="form-group form-floating">
                                <input type="text" class="form-control" value="Raipur" id="address6" placeholder="City">
                                <label class="form-control-label" for="address6">City</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group form-floating">
                                <input type="text" class="form-control" value="68541-44" id="address7" placeholder="Pincode">
                                <label class="form-control-label" for="address7">Pincode</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- change password -->
    <div class="row mb-3">
        <div class="col">
            <h5 class="mb-0">Change Password</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-light shadow-sm mb-4">
                <div class="card-body">
                    <div class="row h-100">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-floating  mb-3">
                                <input type="password" class="form-control" value="asdasdasdsd" placeholder="Password"
                                    id="password">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-floating ">
                                <input type="password" class="form-control" placeholder="Confirm Password" id="confirmpassword">
                                <label for="confirmpassword">Confirm Password</label>
                                <button type="button" class="btn btn-link text-danger tooltip-btn" data-bs-toggle="tooltip"
                                    data-bs-placement="left" title="Enter valid Password" id="passworderror">
                                    <i class="bi bi-info-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row h-100 mb-4">
        <div class="col-12 d-grid"><a href="/settings" target="_self" class="btn btn-lg btn-default shadow-sm">Update</a></div>
    </div>

</div>