<div class="row h-100">
    <div class="col-12 text-center">
        <div class="logo-small">
            <img src="assets/img/logo.png" alt="" class="img">
            <h6>GO<br><small>MobileUX</small></h6>
        </div>
    </div>
    <div class="col-12 mx-auto text-center">
        <div class="row h-100">
            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xl-3 mx-auto align-self-center">
                <img src="assets/img/Banner.png" alt="Logo" class="mw-100">
                <h2 class="text-center">All set to go!</h2>
                <p class=" mb-4">Your password has been set to new provided password. Please sign in now with
                    your new credentials.</p>
            </div>
        </div>

    </div>
    <div class="col-12 text-center align-self-end py-2">
        <div class="row">
            <div class="col text-center">
                Don't have account? <a routerLink="/signin" class="btn btn-link px-0 ms-2">Sign in <i class="bi bi-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>