<div class="row h-100">
    <div class="col-auto align-self-center">
        <button type="button" class="btn btn-link menu-btn text-color-theme" (click)="menuopen()">
            <i class="bi bi-list size-24"></i>
        </button>
    </div>
    <div class="col text-center">
        <div class="logo-small">
            <img src="assets/img/logo.png" alt="" class="img">
            <h6>GO<br><small>MobileUX</small></h6>
        </div>
    </div>
    <div class="col-auto align-self-center">
        <a routerLink="/profile" class="link text-color-theme">
            <i class="bi bi-person-circle size-22"></i>
        </a>
    </div>
</div>