<div class="overlay-image text-end">
    <img src="assets/img/banana.png" class="orange-slice" alt="">
</div>

<div class="row h-100">
    <div class="col-12 text-center">
        <div class="logo-small">
            <img src="assets/img/logo.png" alt="" class="img">
            <h6>GO<br><small>MobileUX</small></h6>
        </div>
    </div>
    <div class="col-12 mx-auto text-center">
        <div class="row h-100">
            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xl-3 mx-auto align-self-center">
                <h2 class="text-center">Reset Password</h2>
                <p class=" mb-4">Please create uniqu password for your account which contains atlease 1 capital latter & 1 special character sign</p>
                <div class="card card-light shadow-sm mb-4">
                    <div class="card-body">
                        <form class=" was-validated">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control is-valid" id="password" placeholder="Your Password"
                                    value="emailaddress">
                                <label for="password">New Password</label>
                                <button type="button" class="btn btn-link text-success tooltip-btn valid-tooltip"
                                    data-bs-toggle="tooltip" data-bs-placement="left" title="This is valid">
                                    <i class="bi bi-exclamation-circle"></i>
                                </button>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control is-invalid" id="newpassword"
                                    placeholder="Confirm your Password" value="emailaddress2">
                                <label for="newpassword">Confirm New Password</label>
                                <button type="button" class="btn btn-link text-danger tooltip-btn invalid-tooltip"
                                    data-bs-toggle="tooltip" data-bs-placement="left" title="Enter valid password">
                                    <i class="bi bi-exclamation-circle"></i>
                                </button>
                            </div>
                        </form>

                        <div class="d-grid"><a routerLink="/thankyouone" class="btn btn-lg btn-default shadow-sm">Reset
                                Password</a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 text-center align-self-end py-2">
        <div class="row">
            <div class="col text-center">
                Don't have account? <a routerLink="/signin" class="btn btn-link px-0 ms-2">Sign in <i class="bi bi-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>