.view {
  .page {
    background-color: var(--page-bg-color);
    background-image: var(--page-bg-path1), var(--page-bg-path2);
    background-repeat: repeat-x, repeat-x;
    background-position: center top, center bottom;
    background-attachment: fixed, fixed;

    .page-content {
      padding-top: 84px;
      display: flex;
      flex-direction: column;
    }

    &.page-with-navbar-large {
      .page-content {
        padding-top: 120px;
      }
    }

    .messages-content {
      background: transparent;

      .messages {
        padding-bottom: 10px;
        overflow-y: auto;
        background: transparent;

        .message + .message:not(.message-first) {
          margin-top: 10px;
        }

        .message-bubble {
          line-height: 22px;
          padding: 5px 15px;
        }

        .message-received .message-bubble {
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}

body {
  background: #eef0f8;
  font-size: 16px;
}

.view .dark-bg,
.dark-bg {
  background: var(--f7-theme-color) url("../img/background1@2x.png") repeat-x top left;
  color: var(--f7-theme-text-color);
  background: url("../img/background1@2x.png"),
    -moz-linear-gradient(top, var(--f7-theme-color-0) 0%, var(--f7-theme-color) 50%, var(--f7-theme-color-2) 100%);
  background: url("../img/background1@2x.png"),
    -webkit-linear-gradient(top, var(--f7-theme-color-0) 0%, var(--f7-theme-color) 50%, var(--f7-theme-color-2) 100%);
  background: url("../img/background1@2x.png"),
    linear-gradient(to bottom, var(--f7-theme-color-0) 0%, var(--f7-theme-color) 50%, var(--f7-theme-color-2) 100%);
  background-attachment: fixed;
  background-size: 100%;
  background-position: bottom center;
  background-repeat: repeat-x;
  &.bg2 {
    background: var(--f7-theme-color) url("../img/background2@2x.png") repeat-x top left;
    color: var(--f7-theme-text-color);
    background: url("../img/background2@2x.png"),
      -moz-linear-gradient(top, var(--f7-theme-color-0) 0%, var(--f7-theme-color) 50%, var(--f7-theme-color-2) 100%);
    background: url("../img/background2@2x.png"),
      -webkit-linear-gradient(top, var(--f7-theme-color-0) 0%, var(--f7-theme-color) 50%, var(--f7-theme-color-2) 100%);
    background: url("../img/background2@2x.png"),
      linear-gradient(to bottom, var(--f7-theme-color-0) 0%, var(--f7-theme-color) 50%, var(--f7-theme-color-2) 100%);
  }
  &.bg3 {
    background: var(--f7-theme-color) url("../img/background3@2x.png") repeat-x top left;
    color: var(--f7-theme-text-color);
    background: url("../img/background3@2x.png"),
      -moz-linear-gradient(top, var(--f7-theme-color-0) 0%, var(--f7-theme-color) 50%, var(--f7-theme-color-2) 100%);
    background: url("../img/background3@2x.png"),
      -webkit-linear-gradient(top, var(--f7-theme-color-0) 0%, var(--f7-theme-color) 50%, var(--f7-theme-color-2) 100%);
    background: url("../img/background3@2x.png"),
      linear-gradient(to bottom, var(--f7-theme-color-0) 0%, var(--f7-theme-color) 50%, var(--f7-theme-color-2) 100%);
  }
  a {
    color: var(--f7-theme-text-color);
  }
}
.page-bg {
  background-color: var(--page-bg-color);
}
.bg-blue-light,
.alert-blue {
  background: lighten($color-blue, 27%) !important;
  border-color: $color-blue !important;
}
.bg-red-light,
.alert-red {
  background: lighten($color-danger, 25%) !important;
  border-color: $color-danger !important;
}
.bg-green-light,
.alert-green {
  background: lighten($color-success, 30%) !important;
  border-color: $color-success !important;
}
.bg-yellow-light,
.alert-yellow {
  background: lighten($color-warning, 25%) !important;
  border-color: $color-warning !important;
}
.bg-white-opac {
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-whiter {
  background-color: #ffffff;
}
.block {
  margin: 0;
  z-index: auto;
}
.row {
  --f7-cols-per-row: auto;
  margin: 0 -15px;
  justify-content: start;
  justify-content: flex-start;
  & > .col,
  & > [class*="col-"] {
    width: calc(100% / var(--f7-cols-per-row));
    padding: 0 calc(var(--f7-grid-gap) / 2);
    flex-shrink: 0;
    max-width: 100%;
  }
  .col {
    width: 100% !important;
    flex: 1 0 0%;
    max-width: 100%;
  }
}
.card {
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgba($card-color, 0.75);
  @extend .blur;
  .card-header,
  .card-footer {
    display: block;
    color: inherit;
  }
  .card-img-top {
    width: 100%;
    display: block;
    text-align: center;
    img {
      max-width: 100%;
      border: 0;
    }
  }
  &.card-light {
    background-color: rgba($card-color, 0.4);
    @extend .blur;
  }
  .card-content-padding {
    .form-list {
      ul {
        background: #ffffff;
      }
    }
  }

  &.card-theme {
    background-color: var(--f7-theme-color);
    color: var(--f7-theme-dark-text-color);
  }
}
.actions-modal {
  .card {
    background-color: rgba($card-color, 1);
  }
}
figure {
  margin: 0;
}
.alert {
  padding: 15px;
  border-radius: 10px;
  display: block;
  border: 1px solid transparent;
}
.overlay {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
  position: absolute;
  background: -moz-linear-gradient(top, transparent 0%, transparent 42%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, transparent 42%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 42%, rgba(0, 0, 0, 0.65) 100%);
}
.overlay-image {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  
  img {
    vertical-align: middle;
    max-width: 470px;
    margin-left: auto;
    margin-top: 15%;
  }
}
.orange-slice {
  float: right;
  margin-right: -150px;
}
figure {
  vertical-align: middle;
  img {
    vertical-align: middle;
  }
}
iframe {
  border: 0;
}
.button {
  border-radius: 8px;
  i,
  .icons {
    vertical-align: middle;
  }
}
.button-gradient {
  background: var(--f7-theme-color) repeat-x top left;
  color: var(--f7-theme-color-text-color);
  background: -moz-linear-gradient(
    top,
    var(--f7-theme-color-0) 0%,
    var(--f7-theme-color) 50%,
    var(--f7-theme-color-2) 100%
  );
  background: -webkit-linear-gradient(
    top,
    var(--f7-theme-color-0) 0%,
    var(--f7-theme-color) 50%,
    var(--f7-theme-color-2) 100%
  );
  background: linear-gradient(
    to bottom,
    var(--f7-theme-color-0) 0%,
    var(--f7-theme-color) 50%,
    var(--f7-theme-color-2) 100%
  );
  color: #ffffff;
}
.badge-new {
  padding: 7px 15px;
  line-height: 30px;
  font-size: 16px;
  display: inline-block;
  border-radius: 25px;
  color: var(--theme-text-color);
  background-color: rgba($card-color, 0.8);
  @extend .blur;
  &:hover {
    color: $card-color;
    background-color: var(--f7-theme-color);
  }
  &.active {
    color: $card-color;
    background-color: var(--f7-theme-color);
  }
}
.stepper .stepper-input-wrap input,
.stepper-value {
  width: 30px;
}
.product {
  figure {
    border-radius: 10px;
    background-color: var(--page-bg-color);
    z-index: 1;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &.bg-light-yellow {
      background-color: rgba($color-warning, 0.05);
    }
  }
  p {
    line-height: 1.2rem;
  }
}
.p-1 {
  padding: 5px;
}
.tag {
  padding: 5px 15px;
  display: inline-block;
  border-radius: 10px;
  line-height: 20px;
  background-color: rgba($card-color, 0.25);
}
.counter-number {
  border: 1px solid var(--page-bg-color);
  background: white;
  border-radius: 20px;
  padding: 1px;
  display: inline-block;
  & > span {
    min-width: 18px;
    display: inline-block;
    text-align: center;
  }
  & > .btn {
    border: 1px solid var(--page-bg-color);
    background-color: var(--page-bg-color);
    color: var(--f7-theme-color);
    i {
      font-size: 16px;
    }
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
}
