.progressCircle{
    height: 80px;
    width: 80px;
    display: block;
    margin: 0 auto;
    position: relative;

}
.small-circle {
    height: 28px;
    width: 28px;
    position: relative;
    .progressbar-text {
      font-size: 12px !important;
    }
  }