.theme-dark {
  .bg-blue-light,
  .alert-blue {
    background: rgba($color-blue, 0.4) !important;
    border-color: $color-blue !important;
  }
  .bg-red-light,
  .alert-red {
    background: rgba($color-danger, 0.4) !important;
    border-color: $color-danger !important;
  }
  .bg-green-light,
  .alert-green {
    background: rgba($color-success, 0.4) !important;
    border-color: $color-success !important;
  }
  .bg-yellow-light,
  .alert-yellow {
    background: rgba($color-warning, 0.4) !important;
    border-color: $color-warning !important;
  }

  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  select,
  textarea {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
  }
  .form-list ul .item-content.item-input-focused .item-floating-label,
  .form-list ul .item-content.item-input-with-value .item-floating-label {
    color: #ffffff;
  }

  .list {
    input[type="date"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    select,
    textarea {
      background-color: transparent;
    }
  }

  body,
  .page {
    background-color: #111111;
    color: #ffffff;

    &.dark-bg {
      background-color: var(--f7-theme-color);
    }
  }

  .card:not(.card-light):not(.card-theme),
  .bg-whiter,
  .navbar-bg,
  .footer {
    background-color: rgba(90, 90, 90, 0.5);
  }
  .list ul,
  .product figure,
  .navbar.active .navbar-bg,
  .counter-number,  
  .card .progressbar,
  {
    background-color: rgba(90, 90, 90, 0.65);
  }

  .card .list ul{
    background-color: transparent
  }
  .counter-number {
    border-color: rgba(90, 90, 90, 0.75);
  }

  .menu-item,
  .menu-item .menu-dropdown,
  .menu-item .menu-dropdown .menu-dropdown-content {
    background-color: #555555;
  }

  .menu-item .menu-dropdown:before {
    background-image: radial-gradient(
      ellipse at 0% 0%,
      transparent 0%,
      transparent 70%,
      #555555 72%
    );
  }
  .menu-item,
  .menu-item .menu-dropdown,
  .menu-item .menu-dropdown .menu-dropdown-content,
  .menu-item .menu-dropdown .menu-dropdown-content a,
  .footer ul li a.active,
  .footer ul li a.active i,
  .footer ul li a.active span,
  a.card-content,
  .counter-number {
    color: #ffffff;
  }
  .footer ul li a.active::after {
    background-color: #ffffff;
  }
  .elevation-2 {
    box-shadow: 0 0.125rem 0.25rem rgba(17, 17, 17, 0.5) !important;
  }
  .card,
  .list.links-list a:after,
  .list .item-inner:after,
  .simple-list li:after {
    --f7-card-header-border-color: rgba(darken($color-secondary, 2%), 0.3);
    --f7-card-footer-border-color: rgba(darken($color-secondary, 2%), 0.3);
    --f7-list-item-border-color: rgba(darken($color-secondary, 2%), 0.3);
  }
  .view .page .messages-content .messages .message-received .message-bubble {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
