.panel-left {
  --f7-theme-color-text-color: #ffffff;
  border-radius: 0 10px 10px 0;

  .page {
    background: var(--f7-theme-color) repeat-x top left;
    color: var(--f7-theme-color-text-color);
    background: -moz-linear-gradient(
      top,
      var(--f7-theme-color-0) 0%,
      var(--f7-theme-color) 50%,
      var(--f7-theme-color-2) 100%
    );
    background: -webkit-linear-gradient(
      top,
      var(--f7-theme-color-0) 0%,
      var(--f7-theme-color) 50%,
      var(--f7-theme-color-2) 100%
    );
    background: linear-gradient(
      to bottom,
      var(--f7-theme-color-0) 0%,
      var(--f7-theme-color) 50%,
      var(--f7-theme-color-2) 100%
    );
    border-radius: 0 10px 10px 0;

    .block-title {
      color: var(--f7-theme-color-text-color);
    }

    .list,
    .links-list,
    .accordion-list {
      background-color: transparent;
      padding: 0 15px;

      ul {
        background-color: transparent;

        &:before {
          display: none;
        }
        &:after {
          display: none;
        }

        li {
          margin-bottom: 5px;
          font-size: 16px;

          a {
            justify-content: start;
            padding-left: 0;
            color: var(--f7-theme-color-text-color);

            &:after {
              display: none;
            }

            &:before {
              color: rgba(255, 255, 255, 0.25);
            }

            & > i {
              height: 40px;
              width: 40px;
              line-height: 40px;
              margin-right: 15px;
              border-radius: 6px;
              position: relative;
              color: var(--f7-theme-color-text-color);
            }

            &.active {
              & > i {
                color: var(--f7-theme-color-text-color);

                &:after {
                  content: "";
                  background-color: var(--f7-theme-color-text-color);
                  border-radius: 6px;
                  height: 100%;
                  width: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  display: block;
                  opacity: 0.15;
                }
              }
            }
          }
        }
      }

      .accordion-item {
        border-radius: 6px;

        &.accordion-item-opened {
          position: relative;

          &:after {
            content: "";
            background-color: var(--f7-theme-color-text-color);
            border-radius: 6px;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            opacity: 0.15;
            transform: none;
            z-index: 0;
          }

          .item-content {
            z-index: 1;
            position: relative;
            &:after {
              content: "";
              background-color: var(--f7-theme-color-text-color);
              border-radius: 6px;
              height: 100%;
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              opacity: 0.15;
              transform: none;
            }
          }
        }
        .accordion-item-content {
          .list {
            padding: 10px;
          }
        }
      }
    }
  }
}
.panel-backdrop {
  background-color: var(--f7-theme-color);
  opacity: 0.5;
  -webkit-backdrop-filter: saturate(180%) blur(3px);
  -moz-backdrop-filter: saturate(180%) blur(3px);
  backdrop-filter: saturate(180%) blur(3px);
}
.with-panel-left-cover .panel-left:after {
  display: none;
}
.with-panel-left-cover .panel-backdrop-in,
.with-panel-right-cover .panel-backdrop-in {
  opacity: 0.3;
}

.panel-right {
  background: transparent;
  .page {
    background-color: rgba($card-color, 0.75);
    @extend .blur;
  }
}
