.rounded-circle {
  border-radius: 50%;
  overflow: hidden;
}
.overflow-visible {
  overflow: visible !important;
}

.overflow-x-auto {
  overflow-x: auto !important;
}
.overflow-hidden {
  overflow: hidden;
}
.no-padding-left {
  padding-left: 0 !important;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mw-100 {
  max-width: 100%;
}
.margin-bottom {
  margin-bottom: 25px !important;
}
.margin-bottom-half {
  margin-bottom: 12px !important;
}
.margin-top {
  margin-top: 25px !important;
}
.margin-top-half {
  margin-top: 12px !important;
}
.margin-h-auto {
  margin-left: auto;
  margin-right: auto;
}
.margin-top-auto {
  margin-top: auto;
}
.mb-50px {
  margin-bottom: 50px;
}
.mb-100px {
  margin-bottom: 100px;
}
.mb-150px {
  margin-bottom: 150px;
}
.top-20 {
  margin-top: -20px !important;
}
.position-relative {
  position: relative;
}
.tick {
  height: 8px;
  width: 8px;
  position: absolute;
  top: 5px;
  right: 0px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}

.navbars ~ * .fab-center-top,
.navbars ~ * .fab-left-top,
.navbars ~ * .fab-right-top,
.navbars ~ .fab-center-top,
.navbars ~ .fab-left-top,
.navbars ~ .fab-right-top,
.navbar ~ * .fab-center-top,
.navbar ~ * .fab-left-top,
.navbar ~ * .fab-right-top,
.navbar ~ .fab-center-top,
.navbar ~ .fab-left-top,
.navbar ~ .fab-right-top {
  margin-top: auto;
}

.h-5 {
  height: 5px;
}

.h-6 {
  height: 6px;
}

.h-190 {
  height: 190px;
}
.h-150 {
  height: 150px;
}
.h-100 {
  height: 100%;
}

.h-50px {
  height: 50px;
}

.h-100px {
  height: 100px;
}

.height-auto {
  height: auto;
}

.max-width-100 {
  max-width: 100%;
}

.coverimg {
  background-size: cover;
  background-position: center top;
  &.position-absolute {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
  }

  img {
    display: none;
  }

  & + div {
    z-index: 1;

    & + div {
      z-index: 1;
    }
  }
}

.rounded {
  border-radius: 10px;
}
.no-rounded {
  border-radius: 0;
}
.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}
.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.z-index-0 {
  z-index: 0;
}
.z-index-1 {
  z-index: 1;
}

.z-index-5 {
  z-index: 5;
}
.opacity-04 {
  opacity: 0.4;
}
.opacity-05 {
  opacity: 0.5;
}

.blur {
  -moz-backdrop-filter: saturate(120%) blur(15px);
  -webkit-backdrop-filter: saturate(120%) blur(15px);
  backdrop-filter: saturate(120%) blur(15px);
}
.shadow-none {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
}

.no-background {
  background-color: transparent !important;
  li {
    background-color: transparent !important;
  }
}
.border-left-5 {
  border-left: 5px solid transparent;
}
.color-inherit {
  color: inherit;
}
.progressstimer {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto 10px auto;
  position: relative;

  img {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    -webkit-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
  }

  .timer {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
  }
}
.rounded {
  border-radius: 10px !important;
}

.dashed-line {
  border-top: 1px dashed rgba(0, 0, 0, 0.25);
  min-height: 1px;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 768px) {
  .h-190 {
    height: 322px;
  }
}
