<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link" routerLink="/shophome" routerLinkActive='active'>
                <span>
                    <i class="nav-icon bi bi-house"></i>
                    <span class="nav-text">Home</span>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/stats" routerLinkActive='active'>
                <span>
                    <i class="nav-icon bi bi-bar-chart-line"></i>
                    <span class="nav-text">Stats</span>
                </span>
            </a>
        </li>
        <li class="nav-item center-item">
            <a class="nav-link" routerLink="/cart" routerLinkActive='active'>
                <span>
                    <i class="nav-icon bi bi-bag"></i>
                    <span class="nav-text">Cart</span>
                    <span class="countercart">3</span>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/style" routerLinkActive='active'>
                <span>
                    <i class="nav-icon bi bi-palette"></i>
                    <span class="nav-text">Style</span>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/settings" routerLinkActive='active'>
                <span>
                    <i class="nav-icon bi bi-gear"></i>
                    <span class="nav-text">Settings</span>
                </span>
            </a>
        </li>
    </ul>
</div>