<!-- Header -->
<header class="container-fluid header">
    <div class="row h-100">
        <div class="col-auto align-self-center">
            <a routerLink="/pages" class="btn btn-link back-btn text-color-theme">
                <i class="bi bi-arrow-left size-20"></i>
            </a>
        </div>
        <div class="col text-center align-self-center">
            <h5 class="mb-0">Add Addresses</h5>
        </div>
        <div class="col-auto align-self-center">
            <a routerLink="/profile" class="link text-color-theme">
                <i class="bi bi-person-circle size-22"></i>
            </a>
        </div>
    </div>
</header>
<!-- Header ends -->
<!-- main page content -->
<div class="main-container container">
    <!-- Ordernumber  -->
    <div class="row mb-3">
        <div class="col">
            <p class="text-opac">ID: IDO10541823</p>
        </div>
        <div class="col-auto text-end">
            <p class="text-opac">Delivered on 14 April</p>
        </div>
    </div>

    <!-- items -->
    <div class="row ">
        <div class="col-12">
            <div class="card shadow-sm product mb-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <figure class="text-center avatar-70 avatar">
                                <img src="assets/img/product1.png" alt="">
                            </figure>
                        </div>
                        <div class="col ps-0 align-self-center">
                            <p class="mb-0">
                                <small class="text-opac">Fresh</small>
                            </p>
                            <h6 class="text-color-theme">Apple</h6>
                            <div class="row">
                                <div class="col">
                                    <p class="mb-0">$12.00 <small class="text-opac">per 1 kg</small></p>
                                </div>
                                <div class="col-auto">
                                    <a routerLink="#" class="link text-color-theme px-0">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-light shadow-sm mb-4">
                <ul class="list-group list-group-flush bg-none">
                    <li class="list-group-item">
                        <p class="mb-1 fw-bold">Ordered </p>
                        <p class="text-opac">Sunday 4th April 2021</p>
                    </li>
                    <li class="list-group-item">
                        <p class="mb-1 fw-bold">Packed </p>
                        <p class="text-opac">Tuesday 6th April 2021</p>
                    </li>
                    <li class="list-group-item">
                        <p class="mb-1 fw-bold">Packed-Up by Courier </p>
                        <p class="text-opac">Tuesday 6th April 2021 - 8:36 pm</p>
                    </li>
                    <li class="list-group-item">
                        <p class="mb-1 fw-bold">Shipped </p>
                        <p class="text-opac">Tuesday 6th April 2021 - 10:45 pm<br>From London,
                            Bridge Station</p>
                    </li>
                    <li class="list-group-item">
                        <p class="mb-1 fw-bold">Delivered </p>
                        <p class="text-opac">Monday 19th April 2021 - 9:10 pm<br>Item is delivered
                            to Mr. Falks Henchriyu</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- pricing -->
    <div class="row mb-3">
        <div class="col align-self-center">
            <h5 class="mb-0">Pricing</h5>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <p>Shipping Cost</p>
        </div>
        <div class="col-auto">$ 10.00</div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <p>Subtotal</p>
        </div>
        <div class="col-auto">$ 32.00</div>
    </div>

    <div class="row fw-bold mb-4">
        <div class="mb-3 col-12">
            <div class="dashed-line"></div>
        </div>
        <div class="col">
            <p>Total</p>
        </div>
        <div class="col-auto">$ 42.00</div>
    </div>

    <!-- Button -->
    <div class="row mb-4">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <div class="row">
                <div class="col">
                    <a routerLink="/invoice" class="link text-color-theme d-inline-block px-0">Invoice</a>
                </div>
                <div class="col align-self-center d-grid">
                    <a routerLink="/product" class="btn btn-default shadow-sm">Buy again</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- main page content ends -->