<!-- Header -->
<header class="container-fluid header">
    <div class="row h-100">
        <div class="col-auto align-self-center">
            <a href="/shophome" class="btn btn-link back-btn text-color-theme">
                <i class="bi bi-arrow-left size-20"></i>
            </a>
        </div>
        <div class="col text-center align-self-center">
            <h5 class="mb-0">Start words</h5>
        </div>
        <div class="col-auto align-self-center">
            <a href="/home" class="link text-color-theme">
                <i class="bi bi-shop size-22"></i>
            </a>
        </div>
    </div>
</header>
<!-- Header ends -->
<!-- main page content -->
<div class="main-container container top-20">
    <!-- chat user list -->
    <div class="row">
        <div class="col-12 px-0">
            <div class="list-group rounded-0 bg-none">
                <a routerLink="/messages" class="list-group-item">
                    <div class="row">
                        <div class="col-auto">
                            <div class="avatar avatar-50 coverimg rounded-circle" style="background-image:url('assets/img/user1.jpg')">
                                <img src="assets/img/user1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col align-self-center">
                            <p class="mb-1">John Domnic <span class="float-end small text-muted">2 min</span></p>
                            <p class="small text-muted"><i class="bi bi-check-all text-primary"></i> Thank you
                                for your purchase</p>
                        </div>
                    </div>
                </a>
                <a routerLink="/messages" class="list-group-item">
                    <div class="row">
                        <div class="col-auto">
                            <div class="avatar avatar-50 coverimg rounded-circle" style="background-image:url('assets/img/user2.jpg')">
                                <img src="assets/img/user2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col align-self-center">
                            <p class="mb-1">Alica Tirrantra<span class="float-end small text-muted">4 min</span></p>
                            <p class="small text-muted"><i class="bi bi-check"></i> Congratulations!</p>
                        </div>
                    </div>
                </a>

                <a routerLink="/messages" class="list-group-item">
                    <div class="row">
                        <div class="col-auto">
                            <div class="avatar avatar-50 coverimg rounded-circle" style="background-image:url('assets/img/user3.jpg')">
                                <img src="assets/img/user3.jpg" alt="">
                            </div>
                        </div>
                        <div class="col align-self-center">
                            <p class="mb-1">Vijay Senapathi <span class="float-end small text-muted">12 min</span></p>
                            <p class="small text-muted"><i class="bi bi-check-all"></i> Thank you for your
                                purchase</p>
                        </div>
                    </div>
                </a>
                <a routerLink="/messages" class="list-group-item">
                    <div class="row">
                        <div class="col-auto">
                            <div class="avatar avatar-50 coverimg rounded-circle" style="background-image:url('assets/img/user1.jpg')">
                                <img src="assets/img/user1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col align-self-center">
                            <p class="mb-1">John Domnic <span class="float-end small text-muted">30 min</span></p>
                            <p class="small text-muted"><i class="bi bi-check-all text-primary"></i> Thank you
                                for your
                                purchase</p>
                        </div>
                    </div>
                </a>
                <a routerLink="/messages" class="list-group-item">
                    <div class="row">
                        <div class="col-auto">
                            <div class="avatar avatar-50 coverimg rounded-circle" style="background-image:url('assets/img/user2.jpg')">
                                <img src="assets/img/user2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col align-self-center">
                            <p class="mb-1">Alica Tirrantra<span class="float-end small text-muted">1 hr</span></p>
                            <p class="small text-muted"><i class="bi bi-check"></i> Congratulations!</p>
                        </div>
                    </div>
                </a>

                <a routerLink="/messages" class="list-group-item">
                    <div class="row">
                        <div class="col-auto">
                            <div class="avatar avatar-50 coverimg rounded-circle" style="background-image:url('assets/img/user3.jpg')">
                                <img src="assets/img/user3.jpg" alt="">
                            </div>
                        </div>
                        <div class="col align-self-center">
                            <p class="mb-1">Vijay Senapathi <span class="float-end small text-muted">2 hr</span></p>
                            <p class="small text-muted"><i class="bi bi-check-all"></i> Thank you for your
                                purchase</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>